@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://htmx.org/essays/hypermedia-driven-applications/">building Hypermedia-Driven Applications with htmx</a>.</p>
</div>
