@page
@model Web.Pages.Contacts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contact</h4>
<hr />
<div class="row mb-2">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Contact.Id" />
            <div class="form-group">          
                <label asp-for="Contact.First" class="control-label"></label>
                <input asp-for="Contact.First" maxlength="64" class="form-control" autofocus />
                <span asp-validation-for="Contact.First" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Last" class="control-label"></label>
                <input asp-for="Contact.Last" maxlength="64" class="form-control" />
                <span asp-validation-for="Contact.Last" class="text-danger"></span>
            </div>
            <div class="form-group">   
                <label asp-for="Contact.Phone" class="control-label"></label>
                <input asp-for="Contact.Phone" maxlength="16" class="form-control" />
                <span asp-validation-for="Contact.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label"></label>
                <input asp-for="Contact.Email" required maxlength="320" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-4">
        <form asp-page="Delete" asp-route-id="@Model.Contact.Id" method="post">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>
<div class="row">
   <div class="col-md-4">
        <a asp-page="./Index">Back to List</a>
    </div>
</div>